<h1>Transform Your Property</h1>

<div class="container">
      <div class="content">
        <div class="card-container">
          <div class="card-container-content">
            <div class="card-front">
              <%= image_tag("Welcome_Screen/lawn_mowing.jpeg") %>
            </div>

            <div class="card-back">
              <div class="stats-name"><%= link_to "Lawn Mowing", "/customers/new" %></div>
            </div>
          </div>
        </div>
      
    

        <div class="card-container">
          <div class="card-container-content">
            <div class="card-front">
              <%= image_tag("Welcome_Screen/mulch.jpeg") %>
            </div>

            <div class="card-back">
              <div class="stats-name"><%= link_to "Mulch", "/customers/new" %></div>
            </div>
          </div>
        </div>

        <div class="card-container">
          <div class="card-container-content">
            <div class="card-front">
              <%= image_tag("Welcome_Screen/fertilizing.jpeg") %>
            </div>

            <div class="card-back">
              <div class="stats-name"><%= link_to "Fertilizing", "/customers/new" %></div>
            </div>
          </div>
        </div>

        <div class="card-container">
          <div class="card-container-content">
            <div class="card-front">
              <%= image_tag("Welcome_Screen/spring_fall_clean_up.jpeg") %>
            </div>

            <div class="card-back">
              <div class="stats-name"><%= link_to "Spring/Fall CleanUp", "/customers/new" %></div>
            </div>
          </div>
        </div>

        <div class="card-container">
          <div class="card-container-content">
            <div class="card-front">
              <%= image_tag("Welcome_Screen/hedge_trimming.png") %>
            </div>

            <div class="card-back">
              <div class="stats-name"><%= link_to "Hedge Trimming", "/customers/new" %></div>
            </div>
          </div>
        </div>

        <div class="card-container">
          <div class="card-container-content">
            <div class="card-front">
              <%= image_tag("Welcome_Screen/special_services.jpeg") %>
            </div>

            <div class="card-back">
              <div class="stats-name"><%= link_to "Special Services", "/customers/new" %></div>
            </div>
          </div>
        </div>
      </div>