<h1>Transform Your Property</h1>
<%= flash[:message] if flash[:message] %>

<div class="container">
      <div class="content">
        <div class="card-container">
          <div class="card-container-content">
            <div class="card-front">
              <%= image_tag("Welcome_Screen/lawn_mowing.jpeg") %>
            </div>

            <div class="card-back">
              <div class="stats-name">Lawn Mowing</div>
            </div>
          </div>
        </div>
      
    

        <div class="card-container">
          <div class="card-container-content">
            <div class="card-front">
              <%= image_tag("Welcome_Screen/mulch.jpeg") %>
            </div>

            <div class="card-back">
              <div class="stats-name">Mulch</div>
            </div>
          </div>
        </div>

        <div class="card-container">
          <div class="card-container-content">
            <div class="card-front">
              <%= image_tag("Welcome_Screen/fertilizing.jpeg") %>
            </div>

            <div class="card-back">
              <div class="stats-name">Fertilizing</div>
            </div>
          </div>
        </div>

        <div class="card-container">
          <div class="card-container-content">
            <div class="card-front">
              <%= image_tag("Welcome_Screen/spring_fall_clean_up.jpeg") %>
            </div>

            <div class="card-back">
              <div class="stats-name">Spring/Fall Cleanup</div>
            </div>
          </div>
        </div>

        <div class="card-container">
          <div class="card-container-content">
            <div class="card-front">
              <%= image_tag("Welcome_Screen/hedge_trimming.png") %>
            </div>

            <div class="card-back">
              <div class="stats-name">Hedge Trimming</div>
            </div>
          </div>
        </div>

        <div class="card-container">
          <div class="card-container-content">
            <div class="card-front">
              <%= image_tag("Welcome_Screen/special_services.jpeg") %>
            </div>

            <div class="card-back">
              <div class="stats-name">Special Services</div>
            </div>
          </div>
        </div>
      </div>