<h1>Login</h1>

<ul>
    <%= flash[:message] if flash[:message] %>
    <%= form_for :user, url: '/sessions' do |f| %>
    <li><%= f.label :email %></li>
    <li><%= f.text_field :email %><br></li>
    <li><%= f.label :password %></li>
    <li><%= f.password_field :password %><br></li>
    <li><%= f.submit "Submit" %><br></li>
    <li><%= button_to "Log In With Google", '/auth/google_oauth2' %></li>
        <% end %>
</ul>