<h1>Employee Sign Up</h1>

<%= form_for(@employee) do |f| %>
    <% if @employee.errors.any? %>
        <div class="alert alert-danger">
        <% @employee.errors.full_messages.each do |message| %>
            <div><%= message %></div>
            <% end %>
            </div>
            <% end %>

    <%= f.label :first_name %>
    <%= f.text_field :first_name %><br>

    <%= f.label :last_name %>
    <%= f.text_field :last_name %><br>

    <%= f.label :email %>
    <%= f.text_field :email %><br>

    <%= f.label :password %>
    <%= f.password_field :password %><br>

    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation %><br>

    <%= f.label :specialty %>
    <%= f.text_field :specialty %><br>

    <%= f.submit "Submit" %>

    <% end %>