<h1>Employee Sign Up</h1>

<%= form_for(@employee) do |f| %>
    <% if @employee.errors.any? %>
        <div class="alert alert-danger">
        <% @employee.errors.full_messages.each do |message| %>
            <div><%= message %></div>
            <% end %>
            </div>
            <% end %>

    <ul>
        <li><%= f.label :first_name %></li>
        <li><%= f.text_field :first_name %></li>

        <li><%= f.label :last_name %></li>
        <li><%= f.text_field :last_name %></li>

        <li><%= f.label :email %></li>
        <li><%= f.text_field :email %></li>

        <li><%= f.label :password %></li>
        <li><%= f.password_field :password %></li>

        <li><%= f.label :password_confirmation %></li>
        <li><%= f.password_field :password_confirmation %></li>

        <li><%= f.label :specialty %></li>
        <li><%= f.text_field :specialty %></li>
        <br>
        <%= f.submit "Submit" %>
        <% end %>
    </ul>