<h1>Edit A Job</h1>

<%= form_for(@job) do |f| %>

    <%= f.label :location %>
    <%= f.text_field :location %>
    <br>
    <br>
    <%= form_for @job do |f| %>
        <%= f.check_box :completed, :class => "toggle" %><%= label_tag 'completed', 'Completed' %>
    <br>
    <br>
    <%= f.submit "Submit" %>
    <% end %>
    <% end %>