<h1>My Jobs</h1>

<%= form_tag("/jobs", method: 'get') do %>
    <%= label_tag(:q, "Search for:") %>
    <%= text_field_tag(:q) %>
    <%= submit_tag("Search") %>
<% end %>

<ul>

<% @jobs.each do |j| %>
    <%= j.location %> |
    <%= j.task %><br> 
    <% if session[:employee_id].present? %>
    <%= link_to "Edit", edit_job_path(j) %><br>
    <br>
    <br>
    <% end %>
    <% end %>
</ul>

