<h1>My Jobs</h1>

<%= form_tag("/jobs", method: 'get') do %>
    <%= label_tag(:q, "Search for:") %>
    <%= text_field_tag(:q) %>
    <%= submit_tag("Search") %>
<% end %>
<br>

<section class="parent">
    <section class="child">
        <h2>Complete Jobs</h2>
        <ul class="index">
            <% @jobs.each do |j| %>
            <% if j.completed %>
            <li><%= link_to j.location, "/jobs/#{j.id}" %></li>
            <% if session[:employee_id].present? %>
            <li><%= link_to "Edit", edit_job_path(j) %></li>
            <br>
            <% end %>
            <% end %>
            <% end %>
        </ul>

    </section>

    <section class="child">
        <h2>Incomplete Jobs</h2>
        <ul class="index">
            <% @jobs.each do |j| %>
            <% if !j.completed %>
            <li><%= link_to j.location, "/jobs/#{j.id}" %></li>
            <% if session[:employee_id].present? %>
            <li><%= link_to "Edit", edit_job_path(j) %></li>
            <br>
            <% end %>
            <% end %>
            <% end %>
        </ul>
    </section>

    <section class="child">
        <h2>Customers To Invoice</h2>
        <ul class="index">
            <% @jobs.each do |j| %>
            <% if j.completed && j.employee_id == current_employee.id %>
            <li><%= j.customer.name %></li>
            <br>
            <% end %>
            <% end %>
        </ul>
    </section>

</section>



