<h1>Create A New Job</h1>

<%= form_for(@job) do |f| %>

    <%= f.label :location %>
    <%= f.text_field :location %>

    <%= f.label :task %>
    <%= f.text_field :task %>
    <br>
    <br>
    <% @tasks.each do |task| %>
        <%= check_box_tag "@job[task_ids][]", task.id %>
        <%= task.name %><br>
        <% end %>
    
    <%= f.submit "Submit" %>
    <% end %>
