<h1>Create A New Job</h1>

<%= form_for(@job) do |f| %>
    <%= f.label :location %>
    <%= f.text_field :location %>
    <br>
    <br>
    <%= f.submit "Submit" %>
    <% end %>

    <% if @job.errors.any? %>
        <div class="alert alert-danger">
        <% @job.errors.full_messages.each do |message| %>
            <div><%= message %></div>
            <% end %>
            <% end %>
