<h1>Create A New Job</h1>

<ul>
    <li><%= form_for(@job) do |f| %></li>
    <li><%= f.label :location %></li>
    <li><%= f.text_field :location %></li>
    <li><br></li>
    <li><%= f.submit "Submit" %></li>
    <li><% end %></li>
</ul>

    <% if @job.errors.any? %>
        <div class="alert alert-danger">
        <% @job.errors.full_messages.each do |message| %>
            <div><%= message %></div>
            <% end %>
            <% end %>
