<h1>Customer Sign Up</h1>


<ul>    
    <%= form_for(@customer) do |f| %>
        <% if @customer.errors.any? %>
            <div class="alert alert-danger">
            <% @customer.errors.full_messages.each do |message| %>
                <div><%= message %></div>
                <% end %>
                </div>
            <% end %>

    <li><%= f.label :name %></li>
    <li><%= f.text_field :name, prompt: true %><br></li> 

    <li><%= f.label :email %></li>
    <li><%= f.text_field :email %><br></li>

    <li><%= f.label :password %></li>
    <li><%= f.password_field :password %><br></li>

    <li><%= f.label :password_confirmation %></li>
    <li><%= f.password_field :password_confirmation %><br></li>

    <li><%= f.submit "Submit" %></li>
    <br>
    <li><%= button_to "Sign Up With Google", "/auth/google_oauth2" %> <br></li>

    <% end %> 

</ul>