<h1>Customer Sign Up</h1>

<%= button_to "Sign Up With Google", '/auth/google_oauth2' %> <br>

<%= form_for(@customer) do |f| %>
    <% if @customer.errors.any? %>
        <div class="alert alert-danger">
        <% @customer.errors.full_messages.each do |message| %>
            <div><%= message %></div>
            <% end %>
            </div>
            <% end %>

    <%= f.label :name %>
    <%= f.text_field :name, prompt: true %><br>

    <%= f.label :email %>
    <%= f.text_field :email %><br>

    <%= f.label :password %>
    <%= f.password_field :password %><br>

    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation %><br>

    <%= f.submit "Submit" %>

    <% end %> 